---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.alotta-pad {
  padding-top: 10.5em;
}

@media only screen and (min-width: 38em) {

  .alotta-pad {
    padding-top: 10em;
  }

}

@media only screen and (min-width: 60em) {

  .l-pad {
    padding-left: 6vw;
  }

  .r-pad {
    padding-right: 6vw;
  }

}

@media only screen and (min-width: 81em) {

  .l-pad {
    padding-left: 13vw;
  }

  .r-pad {
    padding-right: 13vw;
  }

}
