:root {
  --color-primary: #F47D97;
  --color-primary-2: #FDF374;
  --color-accent-pink: #F8BBC6;
  --color-accent-nav: #BFBFBF;
  --color-accent-dark: #545454;
  --color-accent-white: #fcfcfc;
  --color-accent-black: #000;
  --font-primary: "Quicksand", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-accent-dark);
  font-weight: bold;
}

h2 {
  color: var(--color-accent-dark);
  font-weight: bold;
}
}

h3,
h4,
h5,
h6 {
  color: var(--color-accent-dark);
  font-weight: normal;
}

p {
  color: var(--color-accent-dark);
}

ul, li
ol, li {
  list-style: none;
  text-decoration: none;
  color: var(--color-accent-nav);
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--color-accent-nav);
}

mark {
  background-color: var(--color-primary-2);
  color: var(--color-accent-black);
}
