.border-img {
  border-bottom: 8px solid var(--color-primary);
}

.grey {
  filter: grayscale(100%);
}

.border-img:hover {
  border-bottom: 8px solid var(--color-secondary);
  filter: grayscale(0);
  transition: all 250ms ease;
}
