.right-a {
  text-align: right;
}

.nav-btn:hover {
  border-bottom: 4px solid var(--color-secondary);
}

.nav-btn {
  border-bottom: 4px solid transparent;
}

.nav-current {
  color: var(--color-secondary);
}

header {
  background-color: var(--color-accent-white);
}
