<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.info}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link href="/css/main.css" rel="stylesheet">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117;-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content=“{{page.title}}“>
  <meta property="og:url" content=“{{page.url}}“>
  <meta property="og:image" content=“https://megansmithdesigns.ca//images/thumbnail.jpg”>
  <meta property="og:site_name" content=“{{page.sitename}}“>
  <meta property="og:description" content=“{{page.info}}”>
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
</head>
<body>

<ul class="skip-links">
  <li>
    <a href="#nav">Jump to nav</a>
    <a href="#main">Jump to main content</a>
  </li>
</ul>

<nav id="nav" role="nav">
{% pattern header/header %}
</nav>
<main class="alotta-pad" id="main" role="main" tabindex="0">
  {{content}}
</main>
<footer id="footer" role="contentinfo">
  {% pattern footer/footer %}
</footer>

</body>
</html>
