---
layout: default
---

<section class="gutter-2">
  <div class="grid">
    <div class="unit s-1">
      {% pattern sections/project-top-section %}
    </div>
    <div class="grid pad-t-2">
      <div class="unit s-1 l-1-2 pad-b-2">
        {% pattern sections/project-card-carousel %}
      </div>
      <div class="l-pad unit s-1 l-1-2">
        {% pattern sections/project-text-section %}
      </div>
      <div class="max-length-no-center unit s-1">
        {% pattern sections/project-text-section %}
      </div>
    </div>
  </div>
</section>
